<h1> <%= current_user.email if current_user %> </h1>
<header class="header group">

</header>
<div class="outer-modal inactive" id="pop-up"></div>
<div id="search"></div>
<div class="" id="main">

</div>
<script>
$(HemmingsClone.initialize);

</script>
