<ul class="images-banner">
  <li>
    <img src="" alt="" id="1"/>
  </li>

  <li>
    <img src="" alt="" id="2"/>
  </li>

  <li>
    <img src="" alt="" id="3"/>
  </li>

  <li>
    <img src="" alt="" id="4"/>
  </li>
</ul>




<section class="search-container over-item" id="search">
</section>
