<ul class="vehicle-stuff over-item">
  <li>
    <a href="vehicle_sales/new">
      <%= $("#images").find("#sell-car").html() %>
    </a>
    Sell your vehicle
  </li>
  <li>
    <a href="vehicle_sales">
      <%= $("#images").find("#all-cars").html() %>
    </a>
    All vehicles
  </li>
</ul>
<section class="search-container over-item" id="search">
</section>
<ul class="part-stuff over-item">
  <li>
    <a href="part_sales/new">
      <%= $("#images").find("#sell-part").html() %>
    </a>
    Sell your part
  </li>
  <li>
    <a href="part_sales">
      <%= $("#images").find("#all-parts").html() %>
    </a>
    All Parts
  </li>
</ul>
