


  <h1>Welcome To Classic Car Classifieds</h1>

  <section>
    <ul>
      <li>
      here, you can <a href="#vehicle_sales/new">sell your classic car</a>

      </li>
    <li>
    Maybe you don't want to sell the car, but have left over parts from the restoration?  You can post an ad here to <a href="#part_sales/new">sell them</a>
    </li>

    <li>
    Maybe you're in the market for <a href=#vehicle_sales> a new project </a>
    </li>
    <li>
      Maybe you're just trying to find <a href="#part_sales"> one part you need</a> to finish you're current project.
    </li>


    </ul>

  </section>
