


  <h1>Welcome To Classic Car Classifieds</h1>

  <section class="root-description">
    <p>
      This is a site where users can post any parts or vehicles they may have for sale.  They can also look though the posts of other users to see if there's anything they'd like to purchase.  See something you like, click the button to retrieve the owner's contact info.  You can also make a request for the site to notify you when someone posts something you're looking for.  The next time you log in, you look at your show page, any requests with new matches will be green.


    </p>

  </section>
