
<h1> Search </h1>
<ul class="errors">

</ul>
<ul class="search-options group">

<li class="search-option" id="part_sales">Parts</li>
<li class="search-option selected" id="vehicle_sales">Vehicles</li>
</ul>


<form class="search-form">
  <label class="year">Year Start:
  <input type="text" name="vehicle[year_start]" value="">
  </label>
  <label class="year">Year End:
  <input type="text" name="vehicle[year_end]" value="">
  </label>
  <label for="">Make:</label>
  <input type="text" name="vehicle[make]" value="">
  <label for="">Model:</label>
  <input type="text" name="vehicle[model]" value="">
  <br>
  <div class="inactive" id="part-search">
    <label for="">Part # :</label>
    <input type="text" name="part_sale[part_number]" value="">
    <label>Part Type:</label>
    <input type="text" name="part_sale[part_number]" value="">
  </div>


  <input type="submit" value="Search">
</form>
