


<ul class="search-options group">

<li class="search-option" id="part_sales">Parts</li>
<li class="search-option selected" id="vehicle_sales">Vehicles</li>
</ul>


<form class="search-form">
  <!-- <label class="year">Year Start:
  <input type="text" name="vehicle[year_start]" value="">
  </label>
  <label class="year">Year End:
  <input type="text" name="vehicle[year_end]" value="">
  </label> -->
  <div class="vehicle-info" id="make-and-model"></div>

  <br>
  <div class="inactive" id="part-search">

    <ul class="parts-info">
      <li class="form-field part-categories">

      </li>
      <li class="form-field">
        <input type="text" name="part_sale[part_number]" placeholder="Part #" value="">
      </li>
      <li class="form-field">

        <input type="text" name="part_sale[part_type]" placeholder="What part is it?" value="">
      </li>

    </ul>
  </div>


  <input class="submit" type="submit" value="Search">
</form>
