
<img id="0" src="" class="back">
<img id="1" src="" class="front">


<ul class="search-options group">

<li class="search-option" id="part_sales">Parts</li>
<li class="search-option selected" id="vehicle_sales">Vehicles</li>
</ul>


<form class="search-form">
  <label class="year">Year Start:
  <input type="text" name="vehicle[year_start]" value="">
  </label>
  <label class="year">Year End:
  <input type="text" name="vehicle[year_end]" value="">
  </label>
  <div id="make-and-model"></div>

  <br>
  <div class="inactive" id="part-search">
    <%= $("#part_categories").html() %>

    <label for="">Part # :</label>
    <input type="text" name="part_sale[part_number]" value="">
    <label>Part Type:</label>
    <input type="text" name="part_sale[part_type]" value="">
  </div>


  <input class="submit" type="submit" value="Search">
</form>
