  <ul class="sort-options">
    <% _.each(["price", "year", "make", "model"], function(attr) { %>
      <li>
        <b> <%=attr%> </b>
        <input class="sort-option" type="radio" name="search_option" value="<%=attr%>">
      </li>
    <% }) %>
  </ul>

<section class="result-options" id="make-options">
</section>
<section class="result-options" id="model-options">
</section>
