
<section class="result-options" id="sort-by">
  <ul class="sort-options">
    <% _.each(["price", "year"], function(attr) { %>
      <li>
        <b> <%=attr%> </b>
        <input type="radio" name="search_option" value="<%=attr%>">
      </li>
    <% }) %>
  </ul>
</section>
