
<form class="new-part-sale" action="<%=part_sales_url%>" method="post">
  <%= authentic_form %>
  <label for="">What kind of car is this part for?</label>
  <br>
  <%= render partial: "shared/vehicle" %>
  <br>
  <label for="">Part Number</label>
  <input type="text" name="part_sale[part_number]" value="">
  <br>
  <label for="">Part Type</label>
  <input type="text" name="part_sale[part_type]" value="">
  <br>
  <label for="">Please enter your ZIP code</label>
  <input type="text" name="part_sale[location]" value="">
  <br>
  <label>Part Description</label>
  <textarea name="part_sale[part_description]" rows="8" cols="40"></textarea>
  <br>
  <input type="submit" value="Whoops">
</form>
