
<article class="">
  <h1> <%= @request.part_type %> </h1>
  <section>
    <h4> Can be used for</h4>
    <ul>
      <% @request.vehicles.each do |vehicle| %>
        <li> <%= vehicle.description %> </li>
      <% end %>
    </ul>
    <p>
      <%= @request.part_description %>
    </p>
    <br>
    Sold from <%= @request.location %>
  </section>
</article>
