<h4 class="subtitle"> Vehicle Info</h4>

<ul class="vehicle-form-fields group">
    <% if (isSearch) { %>
      <li class="">
        <ul class="years">
          <li class="form-field">
            <input class="year" type="number" name="vehicle[year_start]" value="" placeholder="From?">
          </li>

          <li class="form-field">
            <input  class="year" type="number" name="vehicle[year_end]" value="" placeholder="To?">
          </li>
        </ul>




    <% } else { %>
      <li class="form-field">
        <input class="year" type="number" name="vehicle[year]" value="" placeholder="Model Year">
      </li>
    <% } %>

  <li class="make-select form-field">

  </li>

  <li class="model-select inactive form-field">

  </li>
</ul>
