<h1> My Listings </h1>

<section class="vehicle-listings">
  <h2> Vehicle Listings </h2>
  <ul class="results" id="vehicle-sales">

  </ul>

</section>


<section class="part-listings">
  <h2> Part Listings </h2>
  <ul class="results" id="part-sales">

  </ul>

</section>
