<h1> My Listings </h1>
<ul class="listings group">
  <section class="listing">
    <h2> Vehicle Listings </h2>
    <ul class="results" id="vehicle-sales">

    </ul>

  </section>


  <section class="listing">
    <h2> Part Listings </h2>
    <ul class="results" id="part-sales">

    </ul>

  </section>

  <section class="listing">
    <h2> What I'm looking for </h2>
    <a href="#looking-for/new"> Look for something new </a>
    <ul class="results" id="looking-fors">

    </ul>

  </section>



</ul>
