<h1 class="title"><%=request.escape("title")%>
<br>
<%= request.vehicle().description()%> </h1>


<section class="description">
  <label><%= request.get("total_matches") %>
  <% if (request.get("total_matches") == 1) { %>
    match
  <% } else { %>
    matches
  <% } %>
  found! </label>
  <br>
  <%= request.escape("body") %>
</section>
