<label for="">Year</label>
<select class="" name="vehicle[year]">
  <% (1900..2015).each do |year| %>
    <option value="<%=year%>"> <%=year%> </option>
  <% end %>
</select>
<label for="">Make</label>
<input type="text" name="vehicle[make]" value="">
<label for="">Model</label>
<input type="text" name="vehicle[model]" value="">
<br>
