
<h1>Sign In</h1>
<button class="close"> X </button>
<form class="sign-in">
  <label for="">Email Address</label><br>
  <input type="text" name="user[email]" id="email" value="">
  <br>
  <label for="">Password</label><br>
  <input type="password" name="user[password]" id="password" value="">
  <br>
  <input type="submit"  value="Log in">
  <button class="signup">Sign Up </button>

</form>
