
<h1>Sign Up</h1>
<button class="close"> X </button>
<form class="new-user form" >
  <label for="">Email Address</label>
  <input type="text" name="user[email]" value="<%= user.escape("email")%>" id="email">
  <br>
  <label for="">Confirm Email</label>
  <input type="text" name="confirm-email" value="" id="confirm-email">
  <br>
  <label class="emails-match inactive"> Emails Match! </label>
  <label class="emails-dont-match"> Emails Don't Match! </label>
  <label for="">Password</label>
  <input type="password" name="user[password]" value="">
  <br>
  <input type="submit" value="Create Account">
  <button class="login"> Login </button>
</form>
