<article>
  <h1> <%= @request.vehicle.description%> </h1>
  <section>
    <label for="">title is <%=@request.title_status%></label>
    <br>
    <label for="">Condition: <%=@request.vehicle_condition%></label>
    <p>
      <%= @request.vehicle_description %>
    </p>
  </section>
</article>
