
<article class="sale-item">
  <a href="#vehicle_sales/<%= vehicle_sale.id%>" class="title"><%= vehicle_sale.vehicle().description()%> </a>
  <section class="description">
    <%= vehicle_sale.escape("vehicle_description") %>
  </section>
</article>
