
<article class="sale-item">
  <h1 class="title"><%= sale.vehicle().description()%> <h1>
  <figure class="preview">
    <img src="<%=sale.thumb%>">

  </figure>

  <section class="description">
    <label> Price is <%= sale.escape("price") %> </label>
    <br>
    <%= sale.escape("vehicle_description") %>
  </section>
</article>
