

  <section class="images-section">

  </section>

  <section class="show-info">
  <h1> <%= vehicle_sale.vehicle().description() %> </h1>

    <ul>
      <% _.each(["chasis_number", "vehicle_description","vehicle_condition", "title_status"], function(value) { %>
        <li> <b> <%= value %>: </b> <%= vehicle_sale.escape(value) %>  </li>
      <%  }) %>
    </ul>

  <button class="close"> Back to results </button>
  
  </section>
