
<% if (pages > 0) { %>
  <% if (page > 1) { %>
    <button class="prev">Previous Page</button>
  <% } %>
  <h3 class="page"> page <%= page %> of <%=pages%> </h3>
  <% if (page < pages) { %>
    <button class="next"> Next Page </button>
  <% } %>
<% } else { %>
  <h3 class="page"> No results found </h3>
<% } %>
