/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, h1, h2, h3, h4, h5, h6, a, section, article, button, nav, header, ul, li, input {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

.inactive {
  display: none;
}

.group:after {
  content:"";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  background: rgb(20, 81, 20);

}


button, .submit {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

a {
  cursor: pointer;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.root {
  background: #8f8;
  border: 5px solid black;
  border-radius: 15px;
  width: 500px;
  margin: auto;
  text-alignment: center;
  padding: 10px;
  margin-top: 20px;
}

.root h1 {
  display: block;
  color: green;
  width: 400px;
  margin: auto;
}


.root ul {
  width: 400px;
  height: 600px;
  margin: auto;

}

.root ul > li {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

}

.root ul > li:hover {
  cursor:pointer;
  background: #5cc;
}



.outer-modal {
  position: fixed;
  height: auto;
  background: rgba(100,100,100,.5);
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.inner-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 800px;
  min-width: 400px;
  min-height: 300px;
  margin-left: -300px;
  margin-top: -150px;
  opacity: 1;
  text-align: center;
}



.new-form {
  width: 600px;
  margin: auto;
  background: #ccc;
  border: 5px solid black;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.new-form h1 {
  font-size: 36px;
  padding: 10px;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}

.title:hover {
  cursor: pointer;
  color: white;
}


.error-list {
  background: #eee;
  color: red;

}

.omni-auth {
  padding-top: 10px;
  margin: auto;
  width: 200px;
}

.omni-auth > li {
  float: left;
  margin-right: 10px;
}

.twitter {
  width: 100px;
  display: block;
}

input {
  color: black;
  background: white;
  border: 1px solid black;
}


.inner-modal form {
  margin: auto;
  background: #ccc;
  border: 5px solid black;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.submit {
  background: transparent;
}
