/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, h1, h2, h3, h4, h5, h6, a, section, article, button, nav, header, ul, li {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  font: inherit;
  text-decoration: inherit;
  text-alignment: inherit;
  color: inherit;

  background: transparent;
}

.inactive {
  display: none;
}

.group:after {
  content:"";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}


button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

a {
  cursor: pointer;

}


.root {
  background: #8f8;
  border: 5px solid black;
  border-radius: 15px;
  width: 500px;
  margin: auto;
  text-alignment: center;
  padding: 10px;
  margin-top: 20px;
}

.root h1 {
  display: block;
  color: green;
  width: 400px;
  margin: auto;
}


.root ul {
  width: 400px;
  height: 600px;
  margin: auto;

}

.root ul > li {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

}


.header {
  display: block;
  background: #390;

}

.header .logo {
  font-size: 36px;
  color: white;
  display: block;
  float: left;
  padding-top: 10px;
  height: 100%;
}

.header .logo:hover{
  background: white;
  color: blue;
}

.header .links ul {
  float: right;
  padding-right: 20px;
}
.header .links ul li {
  float: left;
  border-left: 1px solid white;
  color: white;
}
.header .links ul li:hover {
  background: white;
  color: blue;
}

.header .links ul li:last-child {
  border-right: 1px solid white;
}

.header .links ul li a {
  display: block;
  padding: 20px;

}


.header .hello {
  color: white;
  font-size: 24px;
  text-alignment: center;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
  display: block;
  // margin: auto;
}
