.header {
  display: block;
  border-bottom: 1px solid white;

}

.header .logo {
  font-size: 36px;
  color: white;
  display: block;
  float: left;
  padding: 10px 0;
  height: 100%;
}

.header .logo:hover{
  background: white;
  color: blue;
}

.header .links ul {
  float: right;
  padding-right: 20px;
  padding-top: 17px;
}
.header .links ul li {
  float: left;
  border-left: 1px solid white;
  color: white;
}
.header .links ul li:hover {
  background: white;
  color: blue;
}

.header .links ul li:last-child {
  border-right: 1px solid white;
}

.header .links ul li a {
  display: block;
  padding: 20px;

}


.header .hello {
  color: white;
  font-size: 24px;
  text-alignment: center;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
  display: block;
  // margin: auto;
}
