.results-page {
  width: 1000px;
  border :1px solid black;
  background: #aaa;
  margin: auto;
}


.order-by {
  height: 500px;
  width: 200px;
  float: left;
  display: block;
  border-right: 1px solid black;
}



.results-content {
  background: rgb(20, 81, 20);
  float: left;
  display: block;
  width: 798px;
  color: white;
}

.results-content > h1 {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.results {
  margin: auto;
  overflow: auto;
}

.item {
  border: 1px solid black;
  min-width: 400px;
  max-width: 600px;
  height: 150px;
  margin:auto;
  margin-bottom: 10px;

  background: #ccc;
  color: black;
}

.item a {
  text-decoration: underline;
}

.item a:hover {
  color: blue;
  background: white
}


.preview {
  width: 100px;
  border: 1px solid black;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.show .results {
  height: 100%;
  display: block;
}


.results-nav {
  width: 80%;
  margin: auto;
}

.results-nav > button {
  margin-top: 3px;
  float:left;
}
.results-nav > h3 {
  float: left;
  display: block;
  padding: 10px 187px;
}

.make {
  height: 40px;
}

.options > li {
  width: 50%;
  float: left;
  border-bottom: 1px solid black;
}
