

.search {
  position: relative;
  width: 700px;
  margin: auto;
  color: white;
  overflow: none;
}

.search h1 {
  text-align: center;
  font-size: 24px;
}

.search-options {
  width: 204px;
  margin: auto;

}


.search-option {
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 60px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;

}

.search-option:hover {
  background: rgba(255,255,255,.5);
  color: black;
  cursor: pointer;
}

.search .selected {
  background: rgba(255,255,255,.5);
  color: black;
  cursor: pointer;
  text-shadow: none;

}

.search form {
  text-align: center;
}

.search form label {
  text-shadow: 1px 1px 2px black;
}

.search form input {
  margin: 10px 5px;
  background: rgba(255,255,255,.5);
  color: black;
}

.search .year input {
  width: 50px;
}



.search form .submit {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  background: rgba(255,255,255,.3);

}


.search img {
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: left 1s;
}


.search .left {
  left: -100%;
}

.search .waiting {
  display: none;
  right: -100%;
}
