
/* sale show view */

.show {
  background: white;
  width: 800px;
  margin: auto;
}


.show-info  {
  float:right;
  margin-top: 50px;

}

.contact-info a {
  display: inline;
  color: blue;
}

.show-info > h1 {
  font-size: 24px;
}

.show-info .sale-info {
  padding: 10px;

}

.show-info .sale-info > li {
  padding-top: 20px;
}

.attribute {
  width: 160px;
  display: block;
}

.image-carousel {
  float: left;
  width: 400px;
}

.image-carousel .show_big {
  margin: auto;
}

.image-carousel .images li {
  float: left;
  margin: 10px;
}

.image-carousel .images li:hover {
  cursor: pointer;

}


.show-info {
  float: left;
}


.close {
  position: absolute;
  top: 5%;
  right: 5%;
}







/* User Show */

.user-show {
  text-align: center;

}


.user-show > h1 {
  font-size: 36px;
  text-decoration: underline;
  color: white;
}

.new-matches {
  background: #0a0;
  color: white;
}

.new-match {
  background: #595;
  color: blue;
}


.listings {
  color: white;
  max-width: 1250px;
  margin: auto;

}


.listing {
  background: rgb(20, 120, 20);
  float: left;
  width: 600px;
  max-height: 600px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.listing section {
  overflow: auto;
  height: 500px;
}



.listing > h2 {
  font-size: 36px;

}


.loader {
  position: fixed;
  left: 50%;
  top: 25%;
  height: 100px;
  width: 200px;
  z-index: 500;
  border: 10px solid black;
}
