



.image-carousel {
  float: left;
  width: 400px;
}

.image-carousel .show_big {
  margin: auto;
}

.image-carousel .images li {
  float: left;
  margin: 10px;
}

.image-carousel .images li:hover {
  cursor: pointer;

}


.show-info {
  float: left;
}


.close {
  position: absolute;
  top: 0;
  right: 0;
}



.new-matches {
  background: #050;
  color: white;
}

.new-match {
  background: #595;
  color: blue;
}
