



.image-carousel {
  float: left;
  width: 400px;
}

.image-carousel .show_big {
  margin: auto;
}

.image-carousel .images li {
  float: left;
  margin: 10px;
}

.image-carousel .images li:hover {
  cursor: pointer;

}


.show-info {
  float: left;
}


.close {
  position: absolute;
  top: 0;
  right: 0;
}



/* User Show */
.user-show > h1 {
  text-align: center;
  font-size: 36px;
}

.new-matches {
  background: #050;
  color: white;
}

.new-match {
  background: #595;
  color: blue;
}


.listings {
  color: white;
  max-width: 90%;
  margin: auto;
}


.listing {
  overflow: auto;
  float: left;
  height: 800px;
  width: 30%;
  margin-right: 2%;
  magrin-bottom: 
  background: rgb(20, 81, 20);
  text-align: center;
  padding: 20px;
}


.listing > h2 {
  font-size: 36px;

}


.loader {
  position: fixed;
  left: 50%;
  top: 25%;
  height: 100px;
  width: 200px;
  z-index: 500;
  border: 10px; solid black;
}
