<>
<article class="sale-item">
  <h1 class="result-title"> <%= part_sale.escape("part_type") %> </h1>
  <br>
  <label for="">Part Number: #<%= part_sale.escape("part_number") %></label>
  Fits:
  <ul class="result-vehicles">
    <% part_sale.vehicles().each(function(vehicle){ %>
      <li class="part-result-vehicle"> <%= vehicle.description() %> </li>
    <% }) %>
  </ul>

  <label for="">Part_description: <%= part_sale.escape("part_description") %> </label>

</article>
