
<form class="">

  <h1 class="form-title"> Sell Your Part </h1>
  <div class="errors"> </div>


  <div id="make-model"></div>
  <section class="part-info">

    <h3 class="subtitle">Part Information</h3>
    <ul class="group part-fields">

      <li class="part-categories form-field">

      </li>

      <li class="form-field">
        <input type="text" name="part_sale[part_number]" value="<%= part_sale.escape('part_number')%>" placeholder="What's the part #?">
      </li>

      <li class="form-field">
        <input type="text" name="part_sale[part_type]" value="<%= part_sale.escape('part_type')%>" placeholder="What kind of part is it?">
      </li>
    </ul>

    <textarea class="description" name="part_sale[part_description]" rows="8" cols="40" placeholder="What should we know about this part?"><%= part_sale.escape("part_description") %></textarea>
  </section>

  <section class="additional-info">
    <h3 class="subtitle">Additional Info</h3>
    <ul class="field-inputs group">
      <li class="form-field">
        <input type="text" name="part_sale[location]" value="<%= part_sale.escape('location')%>" placeholder="Your Zipcode">
      </li>

      <li class="form-field">
        <input type=number name=part_sale[price] placeholder="Asking Price?">
      </li>
    </ul>
  </section>
  <section class="images">
    <h3 class="subtitle">Images</h3>
    <ul class="uploaded group">
    </ul>
    <button class="add-image">Add an Image</button>
  </section>

  <button class="submit">Finished</button>

</form>
